html
  head
    meta(charset="utf-8")
    title LotteryCalculator
    style.
      table, td { border: 1px solid black; }
      .unit-icon-big { width: 48px; height: 48px; }
      .unit-icon-small { width: 16px; height: 16px; }
      .inline-title { display: inline-block; }
  body
    input#search-input(placeholder="Search")
    #content
      | Loading...
    script(src="../vendor/sugar.min.js")
    script(src="./data.js")
    script(src="./lib.js")
    script(src="./index.js")
    script.
      render({})
